<div class="formula">
  <form>
    <!--Nombre-->
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="this.personaParam.nombre" name="nombre" placeholder="Nombre">
      </div>
    </div>
      <!--Sexo-->
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Sexo</label>
      <div class=col-sm-10>
      <select class="custom-select" [(ngModel)]="personaParam.sexo" name="sexo" required>
        <option value="">Seleccione su sexo</option>
        <option value="Femenino" >Femenino</option >
        <option value="Masculino">Masculino</option>
        <option value="Otros">Otros</option>
      </select>
      </div>
    </div>
      <!--Sueldo-->
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Sueldo</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" placeholder="Sueldo" [(ngModel)]="personaParam.sueldo" name="sueldo">
      </div>
    </div>
    <!--Edad-->
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Edad</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" [(ngModel)]="personaParam.edad" placeholder="Edad" name="edad">
        </div>
    </div>
      <!--Licencia-->
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Licencia</label>
      <div class=col-sm-10>
      <select class="custom-select" [(ngModel)]="personaParam.licencia" name="licencia">
        <option value="Si">Si</option>
        <option value="No">No</option>
      </select>
      </div>
    </div>
      <!--Fecha-->
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Fecha</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="fecha" name="fecha" [(ngModel)]="personaParam.nacimiento">
        </div>
    </div>
      <!--boton-->
    <div class="form-group">
      <div class="col-sm-12">
        <input type="button" class="btn btn-primary btn-block mt-5" value="enviar" (click)="agregarPersonaLista()">
      </div>
    </div>
  </form>
</div>

