<div class="container">
    <div class="row">
    <div class="col">
      <div class="card" style="width: 90%; margin-top: 10%; padding: 10px 10px 10px 10px;">
          <h5 class="card-title" style="margin: 1rem">Alta de autos</h5>
          <form>
            <div class="form-label-group ">
              <label for="tipo">Materias Disponibles:</label>
              <select name="Tipo" class="custom-select" aria-placeholder="Tipo de usuario" [(ngModel)]="materiaAinscribirme">
                      <option *ngFor="let mate of materiasSelect" value={{mate.nombre}}>{{mate.nombre}}</option> 
              </select>
              <br>
            </div>
            <button (click)="IncribirseMateriasHTML()" class="btn btn-primary" style="margin: 0.5rem;">Agregar Materia</button>
          </form>
      </div>
    </div>
    <div class="col" id='tabla'>
        
        <table class="table" style="margin-top: 10%"> 
            <thead>
                <tr>
                    <th>Mis materias</th>
                </tr>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cuatrimestre</th>
                <th scope="col">Cupos</th>
                <th scope="col">Profesor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let materia of materiasDatos" >
                <th scope="row">•</th>
                <td>{{materia.nombre}}</td>
                <td>{{materia.cuatrimestre}}</td>
                <td>{{materia.cupos}}</td>
                <td>{{materia.profesor}}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
    <div *ngIf="error">
        <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
            <div class="card carta mt-5 " style="background: rgb(255, 73, 73); color: rgb(255, 255, 255);">
                <label class="card-title text-center mt-3">{{mensajeError}}</label>
            </div>
        </div>
    </div>
    <div *ngIf="cargando">
        <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
            <div class="card carta mt-5 " style="background: rgb(48, 114, 255); color: rgb(255, 255, 255);">
                <label class="card-title text-center mt-3">{{mensajeError}}</label>
            </div>
        </div>
    </div>
    <div *ngIf="mensaje">
        <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
            <div class="card carta mt-5 " style="background: rgb(49, 255, 100); color: rgb(255, 255, 255); text-align: center;">
                <label class="card-title text-center mt-3">{{mensajeError}}</label>
            </div>
        </div>
    </div>
  </div>
  