<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container">
  <div class="row">
    <div class="col">
    <div class="card" style="width: 90%; margin-top: 10%">
      <h5 class="card-title" style="margin: 1rem">Subir un Auto</h5>
      <input type="text" name="Marca" class="text-center" id="" style="margin: 0.5rem;" placeholder="Marca" [(ngModel)]="auto.auto.marca"><br>
      <input type="text" name="Color" class="text-center" id=""  placeholder="Color" style="margin: 0.5rem;" [(ngModel)]="auto.auto.color"><br>
      <input type="text" name="Modelo" class="text-center" id=""  placeholder="Modelo" style="margin: 0.5rem;" [(ngModel)]="auto.auto.modelo"><br>
      <button (click)="agregarAuto()" class="btn btn-primary" style="margin: 0.5rem;">Agregar Auto</button>
      <div class="card-footer text-muted">
        usuario= usuario | clave = 123456
      </div>
    </div>
  </div>
  <div class="col">
      <table class="table" style="margin-top: 10%">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Marca</th>
              <th scope="col">Modelo</th>
              <th scope="col">Color</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let auto of autos" >
              <th scope="row">•</th>
              <td>{{auto.marca}}</td>
              <td>{{auto.modelo}}</td>
              <td>{{auto.color}}</td>
            </tr>
          </tbody>
        </table>

        </div>

</div>
<button (click)="salir()">logout</button>
